___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="CLRSWY"></p>

___

<h1><p style="text-align: center;">Data Analysis with Python <br>Project - 1</p><h1> - Traffic Police Stops <img src="https://docs.google.com/uc?id=17CPCwi3_VvzcS87TOsh4_U8eExOhL6Ki" class="img-fluid" alt="CLRSWY" width="200" height="100">

Before beginning your analysis, it is critical that you first examine and clean the dataset, to make working with it a more efficient process. You will practice fixing data types, handling missing values, and dropping columns and rows while learning about the Stanford Open Policing Project dataset.

***

## Examining the dataset

You'll be analyzing a dataset of traffic stops in Rhode Island that was collected by the Stanford Open Policing Project.

Before beginning your analysis, it's important that you familiarize yourself with the dataset. You'll read the dataset into pandas, examine the first few rows, and then count the number of missing values.

**INSTRUCTIONS**

*   Import pandas using the alias ``pd``.
*   Read the file police.csv into a DataFrame named ``ri``
*   Examine the first 5 rows of the ``DataFrame`` (known as the ``"head"``).
*   Count the number of missing values in each column: Use ``.isnull()`` to check which ``DataFrame`` elements are missing, and then take the ``.sum()`` to count the number of ``True`` values in each column.

In [3]:
import pandas as pd
df = pd.read_csv("RI_cleaned.csv",skiprows =0)
df.head(10)

C:\Users\mkdty\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (8,16) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,id,state,stop_date,stop_time,location_raw,county_name,county_fips,fine_grained_location,police_department,driver_gender,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
0,RI-2005-00001,RI,2005-01-02,01:55,Zone K1,NaN,NaN,NaN,600,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
1,RI-2005-00002,RI,2005-01-02,20:30,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
2,RI-2005-00003,RI,2005-01-04,11:30,Zone X1,NaN,NaN,NaN,0,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,NaN,False,Zone X1
3,RI-2005-00004,RI,2005-01-04,12:55,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
4,RI-2005-00005,RI,2005-01-06,01:30,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
5,RI-2005-00006,RI,2005-01-12,08:05,Zone X1,NaN,NaN,NaN,0,M,...,False,NaN,NaN,False,Citation,False,30+ Min,True,False,Zone X1
6,RI-2005-00007,RI,2005-01-18,08:15,Zone K3,NaN,NaN,NaN,300,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K3
7,RI-2005-00008,RI,2005-01-18,17:13,Zone X1,NaN,NaN,NaN,0,M,...,False,NaN,NaN,False,Citation,False,16-30 Min,True,False,Zone X1
8,RI-2005-00009,RI,2005-01-23,23:15,Zone K3,NaN,NaN,NaN,300,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K3
9,RI-2005-00010,RI,2005-01-24,20:32,Zone K1,NaN,NaN,NaN,600,M,...,True,Probable Cause,Probable Cause,True,Citation,False,0-15 Min,True,True,Zone K1

In [4]:
df.sample(n=50000,random_state=1)

,id,state,stop_date,stop_time,location_raw,county_name,county_fips,fine_grained_location,police_department,driver_gender,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
153602,RI-2008-27978,RI,2008-07-28,19:13,Zone X4,NaN,NaN,NaN,300,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X4
130926,RI-2008-05302,RI,2008-02-07,20:20,Zone K3,NaN,NaN,NaN,300,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K3
129235,RI-2008-03611,RI,2008-01-26,19:59,Zone K3,NaN,NaN,NaN,300,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K3
462227,RI-2014-50432,RI,2014-12-28,17:23,Zone X4,NaN,NaN,NaN,500,F,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X4
153079,RI-2008-27455,RI,2008-07-24,15:17,Zone K2,NaN,NaN,NaN,900,M,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone K2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260556,RI-2011-00069,RI,2011-01-01,13:23,Zone X3,NaN,NaN,NaN,200,F,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X3
190013,RI-2009-15370,RI,2009-04-21,11:02,Zone K3,NaN,NaN,NaN,300,M,...,False,NaN,NaN,False,Citation,False,16-30 Min,True,False,Zone K3
156091,RI-2008-30467,RI,2008-08-15,15:21,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X4
322328,RI-2012-16047,RI,2012-03-18,07:27,Zone K2,NaN,NaN,NaN,900,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K2
213818,RI-2009-39175,RI,2009-11-21,13:21,Zone X3,NaN,NaN,NaN,200,F,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X3

In [5]:
df.isnull()

,id,state,stop_date,stop_time,location_raw,county_name,county_fips,fine_grained_location,police_department,driver_gender,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
0,False,False,False,False,False,True,True,True,False,False,...,False,True,True,False,False,False,False,False,False,False
1,False,False,False,False,False,True,True,True,False,False,...,False,True,True,False,False,False,False,False,False,False
2,False,False,False,False,False,True,True,True,False,True,...,False,True,True,False,True,True,True,True,False,False
3,False,False,False,False,False,True,True,True,False,False,...,False,True,True,False,False,False,False,False,False,False
4,False,False,False,False,False,True,True,True,False,False,...,False,True,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
509676,False,False,True,True,False,True,True,True,True,True,...,True,True,True,False,True,True,True,True,False,False
509677,False,False,True,True,False,True,True,True,True,True,...,True,True,True,False,True,True,True,True,False,False
509678,False,False,True,True,False,True,True,True,True,True,...,True,True,True,False,True,True,True,True,False,False
509679,False,False,True,True,False,True,True,True,True,True,...,True,True,True,False,True,True,True,True,False,False
509680,False,False,True,True,False,True,True,True,True,True,...,True,True,True,False,True,True,True,True,False,False

In [6]:
df.isnull().sum()

id                            0
state                         0
stop_date                    10
stop_time                    10
location_raw                  0
county_name              509681
county_fips              509681
fine_grained_location    509681
police_department            10
driver_gender             29097
driver_age_raw            29049
driver_age                30695
driver_race_raw           29073
driver_race               29073
violation_raw             29073
violation                 29073
search_conducted             10
search_type_raw          491919
search_type              491919
contraband_found              0
stop_outcome              29073
is_arrested               29073
stop_duration             29073
out_of_state              29881
drugs_related_stop            0
district                      0
dtype: int64

In [7]:
bool_series = pd.isnull(df["county_fips"])
df[bool_series]

,id,state,stop_date,stop_time,location_raw,county_name,county_fips,fine_grained_location,police_department,driver_gender,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
0,RI-2005-00001,RI,2005-01-02,01:55,Zone K1,NaN,NaN,NaN,600,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
1,RI-2005-00002,RI,2005-01-02,20:30,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
2,RI-2005-00003,RI,2005-01-04,11:30,Zone X1,NaN,NaN,NaN,0,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,NaN,False,Zone X1
3,RI-2005-00004,RI,2005-01-04,12:55,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
4,RI-2005-00005,RI,2005-01-06,01:30,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
509676,RI-NA-06,RI,NaN,NaN,Zone NA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False,Zone NA
509677,RI-NA-07,RI,NaN,NaN,Zone NA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False,Zone NA
509678,RI-NA-08,RI,NaN,NaN,Zone NA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False,Zone NA
509679,RI-NA-09,RI,NaN,NaN,Zone NA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False,Zone NA
509680,RI-NA-10,RI,NaN,NaN,Zone NA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False,Zone NA

***

## Dropping columns

Often, a DataFrame will contain columns that are not useful to your analysis. Such columns should be dropped from the ``DataFrame``, to make it easier for you to focus on the remaining columns.

You'll drop the ``county_name`` column because it only contains missing values, and you'll drop the ``state`` column because all of the traffic stops took place in one state (Rhode Island). Thus, these columns can be dropped because they contain no useful information.

**INSTRUCTIONS**

*   Examine the ``DataFrame``'s shape to find out the number of rows and columns.

*   Drop the columns that almost consist of missing values. 

*   Examine the ``.shape`` again to verify that there are now two fewer columns.

In [8]:
df.shape

(509681, 26)

In [9]:
df.drop(["county_name","county_fips" ,"fine_grained_location"],axis=1,inplace=True)

In [10]:
df.shape

(509681, 23)

In [11]:
df.drop("state",axis=1)

,id,stop_date,stop_time,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
0,RI-2005-00001,2005-01-02,01:55,Zone K1,600,M,1985.0,20.0,W,White,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
1,RI-2005-00002,2005-01-02,20:30,Zone X4,500,M,1987.0,18.0,W,White,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
2,RI-2005-00003,2005-01-04,11:30,Zone X1,0,NaN,NaN,NaN,NaN,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,NaN,False,Zone X1
3,RI-2005-00004,2005-01-04,12:55,Zone X4,500,M,1986.0,19.0,W,White,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
4,RI-2005-00005,2005-01-06,01:30,Zone X4,500,M,1978.0,27.0,B,Black,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
509676,RI-NA-06,NaN,NaN,Zone NA,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False,Zone NA
509677,RI-NA-07,NaN,NaN,Zone NA,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False,Zone NA
509678,RI-NA-08,NaN,NaN,Zone NA,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False,Zone NA
509679,RI-NA-09,NaN,NaN,Zone NA,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False,Zone NA
509680,RI-NA-10,NaN,NaN,Zone NA,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False,Zone NA

***

## Dropping rows

In [12]:
df.dropna(subset=["driver_gender"])
df.shape

(509681, 23)

In [13]:
df["driver_gender"].isnull().sum()
df.shape

(509681, 23)

In [14]:
df.dropna(subset = ["driver_gender"],inplace=True)

***

## Fixing a data type

In [15]:
df["is_arrested"].head(10)

0     False
1     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
Name: is_arrested, dtype: object

In [16]:
df["is_arrested"]=df.is_arrested.astype("bool")

In [17]:
df["is_arrested"].dtype

dtype('bool')

In [18]:
aa.dtype

NameError: name 'aa' is not defined

***

## Combining object columns

In [ ]:
combined = df.stop_date.str.cat(df.stop_time,sep=" ") #her iki serinin boyu aynı olmalıdır
df["stop_datetime"] = pd.to_datetime(combined)

In [ ]:
df["stop_datetime"].dtype

In [ ]:
df["stop_datetime"]

In [ ]:
df = df.set_index(pd.DatetimeIndex(df["stop_datetime"]))
df.head()

In [ ]:
day=pd.Timestamp("2005-01-02")
day.day_name()

In [ ]:
df.search_conducted.sum()